<!-- index.ejs -->
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <!-- Header -->
    <h1><%= title %></h1>

    <!-- Add item -->
    <button id="addButton">Add Item</button>

    <!-- Categories List -->
    <h2>Categories</h2>
    <div id="categories">
      <button id="allCategotiesButton">All</button>
      <% categories.forEach(category => { %>
      <button><%= category %></button>
      <% }) %>
    </div>
    <!-- Add item popup -->
    <div class="formPopup" id="addItem">
      <form class="formContainer" id="addForm" method="POST" action="/add">
        <!-- Item Details -->
        <div class="formRow" id="form-row-1">
          <label for="itemName">Item Name</label>
          <input type="text" id="itemName" name="itemName" required />
        </div>
        <div class="formRow">
          <label for="categoryName">Item Category</label>
          <input type="text" id="categoryName" name="categoryName" required />
        </div>
        <div class="formRow">
          <label for="itemPrice">Item Price</label>
          <input
            type="number"
            id="itemPrice"
            name="itemPrice"
            step="0.01"
            min="0"
            required
          />
        </div>
        <div class="formRow">
          <label for="itemQuantity">Item Quantity</label>
          <input
            type="number"
            id="itemQuantity"
            name="itemQuantity"
            min="0"
            required
          />
        </div>

        <!-- Submit Button-->
        <div class="formRow">
          <input type="submit" value="Add Item" id="submitItem" />
          <!-- Close button -->
          <button
            class="closeButton"
            type="button"
            id="closeAdd"
            aria-label="Close Form"
          >
            Cancel;
          </button>
        </div>
      </form>
    </div>

    <!-- Edit Item Popup -->
    <div class="formPopup" id="editItem">
      <form class="formContainer" method="POST" id="editForm">
        <!-- Item Details -->
        <input type="hidden" id="editId" name="id" />
        <div class="formRow">
          <label for="editName">Item Name</label>
          <input type="text" id="editName" name="itemName" required />
        </div>
        <div class="formRow">
          <label for="editCategory">Item Category</label>
          <input type="text" id="editCategory" name="categoryName" required />
        </div>
        <div class="formRow">
          <label for="editPrice">Item Price</label>
          <input
            type="number"
            id="editPrice"
            name="itemPrice"
            step="0.01"
            min="0"
            required
          />
        </div>
        <div class="formRow">
          <label for="editQuantity">Item Quantity</label>
          <input
            type="number"
            id="editQuantity"
            name="editQuantity"
            min="0"
            required
          />
        </div>
        <div class="formRow">
          <!-- Submit Button -->
          <input type="submit" value="Update Item" />
          <!-- Close button-->
          <button
            class="closeButton"
            type="button"
            id="closeEdit"
            aria-label="Close Form"
          >
            Cancel;
          </button>
        </div>
      </form>
    </div>

    <!-- List each item from the database -->
    <div id="inventory-list">
      <% food.forEach(item => { %>
      <div
        class="item-card"
        data-name="<%= item.name %>"
        data-category="<%= item.category %>"
        data-price="<%= item.price %>"
        data-quantity="<%= item.quantity %>"
      >
        <h3><%= item.name %></h3>
        <p><b>Category:</b> <%= item.category %></p>
        <p><b>Price:</b> $<%= Number(item.price).toFixed(2) %></p>
        <p><b>In-Stock:</b> <%= item.quantity %></p>

        <div class="actions">
          <!-- Edit Button -->
          <button
            class="editButton"
            data-id="<%= item.id %>"
            data-name="<%= item.name %>"
            data-category="<%= item.category %>"
            data-price="<%= item.price %>"
            data-quantity="<%= item.quantity %>"
          >
            Edit
          </button>
          <!-- Delete Item Button -->
          <form
            action="/delete/<%= item.id %>"
            method="POST"
            style="display: inline"
          >
            <button type="submit" class="deleteButton">Delete Item</button>
          </form>

          <!-- Delete Category Button -->
          <form
            action="/deleteCategory/<%= item.category %>"
            method="POST"
            style="display: inline"
          >
            <button type="submit" class="deleteButton">Delete Category</button>
          </form>
        </div>
      </div>
      <% }) %>
    </div>

    <!-- Footer -->
    <%- include('footer'); %>

    <!-- Script -->
    <script src="/script.js"></script>
  </body>
</html>
